

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    /* height: 80px; */
    width: 100%;
    background-color: transparent;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

.navbar img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.navbar.secondType{
    background-color: white !important;
}

.navbar.secondType .bar{
    background-color: #333;
    
}

.navbar.active{
    background-color: white !important;
    padding: 10px 5%;
}


.navbar.active .navbar__links a, .navbar.secondType .navbar__links a{
    color: #333;
}


.navbar__links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar__links a{
    color: white;
    font-size: 18px;
    font-family: var(--color-2);
    font-weight: 500;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar{
        padding: 5px 20px;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bar{
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .navbar.active .bar{
        background-color: #333 !important;
    }

    .navbar__links{
        position: absolute;
        left: -400px;
        top: 80px;
        width: 100%;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 2px solid rgb(164, 164, 164);
        padding: 20px 0;
    }
    .navbar__links.show{
        left: 0;
    }
    .navbar__links a{
        color: #333 !important;
        margin-bottom: 20px;
    }
}