

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    /* height: 80px; */
    width: 100%;
    background-color: transparent;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

.navbar img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.navbar.secondType{
    background-color: white !important;
}

.navbar.secondType .bar{
    background-color: #333;
    
}

.navbar.active{
    background-color: white !important;
    padding: 10px 5%;
}


.navbar.active .navbar__links a, .navbar.secondType .navbar__links a{
    color: #333;
}


.navbar__links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar__links a{
    transition: color 0.3s ease;
}

.navbar__links a:hover{
    color: var(--color-red) !important;
}

.navbar__links a{
    color: white;
    font-size: 18px;
    font-family: var(--font-2);
    font-weight: 500;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar{
        padding: 5px 20px;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bar{
        width: 30px;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .bar.active:nth-child(2){
        transform-origin: center;
        width: 0;
    }
    .bar.active:nth-child(1){
        transform: rotate(45deg) translate(-10px, 6px);;
        transform-origin: top left;
        width: 29px;
    }
    .bar.active:nth-child(3){
        transform: rotate(-45deg) translate(-8px, -8px);;
        transform-origin: bottom left;
        width: 29px;
    }
    .navbar.active .bar{
        background-color: #333 !important;
    }

    .navbar__links{
        position: absolute;
        left: -400px;
        top: 80px;
        width: 100%;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-top: 2px solid rgb(164, 164, 164);
        padding: 20px 0;
        padding-top: 40px;
    }
    .navbar__links.show{
        left: 0;
    }
    .navbar__links a{
        color: #333 !important;
        margin-bottom: 20px;
    }
}