

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    /* height: 80px; */
    width: 100%;
    background-color: transparent;
    z-index: 999;
}

.navbar.secondType{
    background-color: white !important;
}

.navbar.active{
    background-color: white !important;
}



@media screen and (max-width: 700px) {
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
    }

    .navbar img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bar{
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .navbar.active .bar{
        background-color: #333 !important;
    }
}