
.corso .wrapper{
    margin-top: 150px;
    display: flex;
    gap: 60px;
}

.corso__text h1{
    color: #222;
    font-family: var(--font-2);
    margin-bottom: 25px;
}

.corso__text p{
    font-size: 15px;
    color: #555;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: var(--font-2);
}
.corso__info{
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid  rgb(164, 164, 164);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.corso__img, .corso__right{
    flex: 1 !important;
}
.corso__img img{
    width: 100%;
}
.corso__info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corso__info svg{
    font-size: 26px;
    color: #666;
}
.corso__info h3{
    font-weight: 600;
    font-family: var(--font-2);
    /* color: #F0B801; */
    color: var(--color-red);
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px;
}
.corso__info-item p{
    color: black;
    font-weight: t00;
    font-family: var(--font-2);
}

.corso__action{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.corso__action button{
    width: 100%;
    padding: 10px 0;
    border-radius: 1.5rem;
    /* background-color: #F0B801; */
    background: var(--color-red);
    color: white;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.corso__action p{
    color: var(--color-blue);
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.corso__slot{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.corso__slot-item{
    background-color: #E6E6E6;
    padding: 6px 12px;
    border-radius: 1.5rem;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.corso__slot-item:hover{
    background-color: #c4c4c4;
}
.corso__slot-item.active{
    background-color: black;
    color: white;
}

@media screen and (max-width: 700px){
    .wrapper{
        max-width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }
    .corso__img img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .corso__text{
        margin-top: 20px;
    }

    .corso__slot{
        width: 95%;
        gap: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .corso__slot-item{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 8px 16px;
    }
   
}