@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');



:root{
  /* --font-1: athelas, serif; */
  --font-1: "Fredoka", sans-serif;
  /* --font-2: source-sans-pro, sans-serif; */
  --font-2: 'Roboto', sans-serif;

  --color-red: #E52628;
  --color-blue: #2A4258;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration: none;
  color: inherit;
}