

.autogestione__featured{

}

.autogestione__featured img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 90vh;
}

.autogestione__featured-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 20;
}

.autogestione__featured-text h1{
    font-family: var(--font-1);
    font-size: 72px;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.303);
    z-index: 10;
}

.autogestione__featured-text h3{
    font-family: var(--font-2);
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;
    text-align: center;
    color: white;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.autogestione__text{
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(164, 164, 164);
}


.autogestione__text h2{
    color: #E52628;
    font-family: var(--font-1);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.autogestione__text p{
    text-align: center;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    font-family: var(--font-2);
    max-width: 30%;
    margin: 0 auto;
}



.autogestione__items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.autogestione__items-element{
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 1.5rem;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.414);
    z-index: 2;
}
.autogestione__items-element h2{
    text-align: center;
    font-family: var(--font-1);
    font-weight: 500;
    /* color: #222; */
    color: white;
    margin-bottom: 5px;
}

.autogestione__items-element_text{
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 5;
}

.autogestione__items-element_text p{
    font-size: 13px;
    color: white;
    max-width: 80%;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 20px;
}

.autogestione__items-element img{
    width: 100%;
    /* height: 120px; */
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

.autogestione .spinner, .iscrizioni .spinner{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.autogestione .spinner img, .iscrizioni .spinner img{
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 700px){
    .autogestione__featured{
        height: 50vh;
        width: 100%;
        position: relative;
    }


    .autogestione__featured-text h1{
        font-size: 32px;
    }


    .autogestione__text h2{
        font-size: 16px;
        /* letter-spacing: normal; */
    }

    .autogestione__text p{
        max-width: 80%;
    }

    .autogestione__featured img{
        height: 100%;
    }

    .overlay{
        height: 50vh;
    }

    .autogestione__text p{
        font-size: 12px;
    }

    .wrapper{
        width: 90%;
        margin: 0 auto;
    }

    .autogestione__items{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 60px;
    }

    

    /* .autogestione__items-element img{
        height: 120px;
        border-radius: 1.5rem;
    } */
}